# Python
.venv/
__pycache__/
*.pyc

# Env
.env

# Node
node_modules/
dist/

# Logs
*.log


# Ignore all files inside the uploads folder
backend/uploads/*

# BUT do not ignore the .gitkeep file (this forces Git to track the empty folder)
!backend/uploads/.gitkeep